@page
@model Hotels.Pages.BookingFormModel
@{
}

<form method="post">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Booking.HotelId" class="control-label"></label>
                <input asp-for="Booking.HotelId" class="form-control" />
                <span asp-validation-for="Booking.HotelId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.RoomId" class="control-label"></label>
                <input asp-for="Booking.RoomId" class="form-control" />
                <span asp-validation-for="Booking.RoomId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.CustomerId" class="control-label"></label>
                <input asp-for="Booking.CustomerId" class="form-control" />
                <span asp-validation-for="Booking.CustomerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.TotalPrice" class="control-label"></label>
                <input asp-for="Booking.TotalPrice" class="form-control" />
                <span asp-validation-for="Booking.TotalPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.CheckInDate" class="control-label"></label>
                <input asp-for="Booking.CheckInDate" class="form-control" />
                <span asp-validation-for="Booking.CheckInDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.CheckOutDate" class="control-label"></label>
                <input asp-for="Booking.CheckOutDate" class="form-control" />
                <span asp-validation-for="Booking.CheckOutDate" class="text-danger"></span>
            </div>
            <div class="form-group my-3">
                <input type="submit" value="Book" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>