
.room-list {
    list-style-type: none;
    padding: 0;
}

    .room-list li {
        padding: 5px 0;
        border-bottom: 1px solid #e9ecef;
    }

        .room-list li:last-child {
            border-bottom: none;
        }

